<a href="https://colab.research.google.com/github/Yaswanthyarra/LGMVIP--DataScience/blob/main/irisclassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing Packages

import pandas as pd
import numpy as np



# Loading the data
dataf = pd.read_csv('/content/IRIS.csv')

dataf.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
# splitting the data and classlabels  
val = dataf.values
x = val[:,0:4]
y= val[:,4]

# to split data to traning and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# using the decision tree classifier for classification and training the model
from sklearn.tree import DecisionTreeClassifier
dtcl = DecisionTreeClassifier()
dtcl.fit(X_train, y_train)



# predicting using the testing dataset

predicted= dtcl.predict(X_test)
# determining the accuracy of the model
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predicted)

0.9666666666666667

In [ ]:
new_daTa = np.array([[2, 1, 4, 0.2], [  3.9, 3.3, 2.8, 1.2 ],  [  6.3, 2.5, 4.6, 1.9 ]])
#Predicting the class labels for new data
predicted = dtcl.predict(new_daTa )
print("Class Labels:",predicted)

Class Labels: ['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [ ]:
# Saving the svm model
import pickle
with open('iris_svm.pickle', 'wb') as f:
    pickle.dump(dtcl, f)